* {
    margin: auto;
    margin-top: 2%;
    
    
    
    font-family: 'Big Shoulders Display', cursive;

    font-family: 'Lexend Deca', sans-serif;
}

main {
    display: grid;
    height: 75vh;
    width: 100vh;
    grid-template-columns: 1.5fr 1.5fr 1.5fr;
    grid-template-areas: "sedan suvs luxury";
    place-content: center;
}

.sedan {
    background-color: hsl(31, 77%, 52%);
    grid-area: sedan;
    padding: 45px;
    border-radius: 7px 0px 0px 7px;
}

.SUV {
    background-color: hsl(184, 100%, 22%);
    grid-area: suvs;
    padding: 45px;
}

.luxury {
    background-color: hsl(179, 100%, 13%);
    grid-area: luxury;
    padding: 45px;
    border-radius: 0px 7px 7px 0px;
}

h1 {
    font-weight: 700;
    font-family: 'Big Shoulders Display', cursive;
    padding: 5px;
    padding-top: 45px;
    color: hsl(0, 0%, 95%);
    }

.sedan-txt {
    font-family: 'Lexend Deca', sans-serif;
    padding: 5px;
    word-spacing: 5px;
    padding-top: 15%;
    color: hsla(0, 0%, 100%, 0.75);
    width: 225px;
    font-size: 16px;
    padding-bottom: 45%;
    
}    

.sedan-img {
    padding-top: 25px;
}

.sedan-button {
    font-size: 14px;
    border-radius: 25px 25px 25px 25px;
    padding: 15px;
    min-width: 150px;
    min-height: 50px;
    border-style: solid;
    background-color: hsl(31, 77%, 52%);
    border-color: hsla(0, 0%, 100%, 0.75);
    border-width: 3px;
    color: hsla(0, 0%, 100%, 0.75);   
    font-family: 'Lexend Deca', sans-serif;
    cursor: pointer;
}
.suv-img {
    padding-top: 25px;
}
.suv-button {
    font-size: 14px;
    border-radius: 25px 25px 25px 25px;
    padding: 15px;
    min-width: 150px;
    min-height: 50px;
    border-style: solid;
    background-color:  hsl(184, 100%, 22%);
    border-color: hsla(0, 0%, 100%, 0.75);
    border-width: 3px;
    color: hsla(0, 0%, 100%, 0.75);   
    font-family: 'Lexend Deca', sans-serif;
    cursor: pointer;

}

.suv-txt {
    word-spacing: 5px;    
    font-family: 'Lexend Deca', sans-serif;
    padding: 5px;
    padding-top: 15%;
    color: hsla(0, 0%, 100%, 0.75);
    width: 225px;
    font-size: 16px;
    padding-bottom: 45%;
    
}

.luxury-img {
    padding-top: 25px;
}

.luxury-txt {
    word-spacing: 4px;    
    font-family: 'Lexend Deca', sans-serif;
    padding: 5px;
    padding-top: 15%;
    color: hsla(0, 0%, 100%, 0.75);
    width: 225px;
    font-size: 16px;
    padding-bottom: 45%;

}

.luxury-button {
    font-size: 14px;
    border-radius: 25px 25px 25px 25px;
    padding: 15px;
    min-width: 150px;
    min-height: 50px;
    border-style: solid;
    background-color:  hsl(179, 100%, 13%);
    border-color: hsla(0, 0%, 100%, 0.75);
    border-width: 3px;
    color: hsla(0, 0%, 100%, 0.75);   
    font-family: 'Lexend Deca', sans-serif;
    cursor: pointer;

}

.attribution a{
    text-align: center;
    color: hsl(184, 100%, 22%);
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
}



@media screen and (max-width:1000px){
    main {
        display: grid;
        width: 75vh;
    }
}

@media screen and (max-width:900px){
    main {
        display: grid;
        width: 30vh;
         height: 250vh;    
         grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:   "sedan" "suvs" "luxury";
        place-content: center;
        
    }

    .sedan {
        grid-area: sedan;
        background-color: hsl(31, 77%, 52%);
        
        
        
    }


    .SUV {
        grid-area: suvs;
        background-color: hsl(184, 100%, 22%);
        
    }

    .luxury {
        grid-area: luxury;
        background-color: hsl(179, 100%, 13%);
    }

    .attribution {
        align-items: center;
    }


}


